.tool_bar_video_container {
	position: relative;
	min-width: 80%;
	max-width: 80%;
	min-height: 90px;
	z-index: 5;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: -5px;
		filter: blur(4px);
		opacity: 0.5;
		border-radius: 8px;
		z-index: 0;
		background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
	}
	.tool_bar_video {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 3;
		justify-content: space-between;
		min-width: 100%;
		max-width: 100%;
		min-height: 80px;
		background: #141414;
		border-radius: 10px;
		padding: 0px 20px;
		padding-top: 10px;
		& > * {
			display: flex;
		}
		& > .seekBar{
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			&>.progressBar{
				position: absolute;
				height: 10px;
				z-index: 1;
				border-radius: 8px 0 0 0;
				background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
			}
			&>input[type="range"]{
				width: 100%;
				appearance: none;
				border: none;
				margin: 0;
				height: 10px;
				background: transparent;
				position: relative;
				z-index: 2;
				cursor: pointer;
				box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
				&::-webkit-slider-thumb {
					width: 40px;
					-webkit-appearance: none;
					height: 40px;
					cursor: ew-resize;
					background: #fff;
					box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
					border-radius: 50%;
					transition: box-shadow 0.2s ease-in-out;
					position: relative;
				}
				&::-moz-range-thumb{
					appearance: none;
					background: rgb(52, 232, 158);
					border: none;
					border-radius: 0px;
					width: 10px;
					height: 10px;
					position: relative;
					z-index: 9;
				}
			}
		}
		& > .left_container {
			align-items: center;
			& > .btn_picto_container {
				margin-right: 20px;
			}
		}
	}
}
